.first-news {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 1.5rem;
  margin-bottom: 80px;
}

.imagem-container {
  position: relative;
  display: flex;
  background-size: cover;
  color: var(--text-color-primary);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  height: 15rem;

  & .content-tag {
    z-index: 1;
  }

  & p {
    display: inline-block; 
    line-height: 1.2; 
    height: calc(1.2em * 3); 
    overflow: hidden; 
    z-index: 1;
  }

  & .gradient {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, black, transparent);
  }
}

.first-news > * {
  border-radius: 8px;
  overflow: hidden;
}

#areaA{
  background-image: url(../assets/Image\ 01.png);
  font: var(--text-h3);
  padding: 24px;
}

#areaB{
  background-image: url(../assets/Image\ 02.png);
  font: var(--text-h3);
  padding: 12px;
}
#areaC{
  background-image: url(../assets/Image\ 03.png);
  font: var(--text-h3);
  padding: 12px;
}
#areaD{
  background-image: url(../assets/Image\ 04.png);
  font: var(--text-h3);
  padding: 12px;
}

#areaE{
  background-image: url(../assets/Image\ 05.png);
  font: var(--text-h3);
  padding: 12px;
}

@media (width >= 80em) {
  .first-news {
    display: grid; 
    padding-top: 40px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 35rem;
    gap: 16px;
    padding-bottom: 80px;
  }

  .imagem-container{
    height: auto;

  }

  #areaA{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../assets/Image\ 01.png);
    
  
    font: var(--text-h1);
    
    padding: 24px;
  }
  
  #areaB{
    
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../assets/Image\ 02.png);
    
    padding: 12px;
  }
  #areaC{
    
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../assets/Image\ 03.png);

    
    padding: 12px;
  }
  #areaD{
    
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../assets/Image\ 04.png);

    padding: 12px;
  }
  
  #areaE{
    
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../assets/Image\ 05.png);
    
    padding: 12px;
  }
}