header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-block: 1rem;
  justify-content: space-between;
}

.nav-header {
  border-block: 1px solid var(--text-color-secondary);
  padding: 1rem;
}

header a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font: var(--text-h3);
  color: var(--text-color-primary);

  & img {
    width: 1rem;
  }
}

#logo {
  font: var(--text-h3);
  color: var(--brand-color-light);
}

nav {
  display: flex;

}

nav a {
  font-family: var(--font-family);
  font: var(--text-span);
  color: var(--text-color-secondary);
}

@media (width >=80em) {
  .nav-header {
    display: flex;
    justify-content: space-between;
  }

  #logo {
    font: var(--text-h1);
    color: var(--brand-color-light);
  }

  header {
    & a {
      font: var(--text-h2);
      & img {
        width: 1.5rem;
      }
    }
  }

}