.second-news {
  display: grid; 
  margin-top: 80px;
  grid-template-columns: 1fr;
  gap: 8px;
  padding-top: .5rem;
  border-top: 1px solid var(--text-color-secondary);

  & .content-tag {
    margin: 8px;
  }

  & .imagem-container {
    display: flex;
    background-size: cover;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--text-color-primary);
    font: var(--text-h2);
   

  }

  .header-news {
    display: flex;
    align-items: center;

    & .see-all {
      display: flex;
      gap: .3rem;
    }
  }

  .imagem-container {
    height: 10rem;
  }
}

#areaA1{
  
  height: 32px;
  color: var(--text-color-secondary);
  font: var(--text-span);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 29px;
}

#areaB1{
  
  background-image: url(../assets/Image\ 06.png);
  
  
}

#areaC1{
  
  background-image: url(../assets/Image\ 07.png);
  
  
}

#areaD1{
  
  background-image: url(../assets/Image\ 08.png);
  
  
}

#areaE1{
  
  background-image: url(../assets/Image\ 09.png);
  
}

.second-news p{
  color: var(--text-color-primary);
  font: var(--text-h2);
  overflow-x: auto;
  overflow: hidden;
  padding-right: 15px;
  margin-bottom: 1rem;

  display: inline-block;
  line-height: 1.2;
  height: calc(1.2em * 2); 
  overflow: hidden; 
}

@media (width >= 80em) {
  .second-news {
    display: grid; 
    margin-top: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 32px 160px 66px;
    height: 314px;
    gap: 8px;
    padding-top: .5rem;
    border-top: 1px solid var(--text-color-secondary);
  
    & .imagem-container {
  
    }
  }

  #areaA1{
    display: flex;
    grid-column: 1/5;
    grid-row: 1/2;
    height: 32px;
    color: var(--text-color-secondary);
    font: var(--text-span);
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 29px;
  }
  
  #areaB1{
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../assets/Image\ 06.png);
  }
  
  #areaC1{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../assets/Image\ 07.png);
  }
  
  #areaD1{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../assets/Image\ 08.png);
  }
  
  #areaE1{
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(../assets/Image\ 09.png);
  }
  
}